{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
       <link href="{{ asset('bundles/dimetimetrackerinvoice/css/ui.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block body %}
<div id="content">
<h2>Kundenkonfiguration</h2>
<form action="{{ path('DimeTimetrackerInvoiceBundle_config',{'customer_id': customer_id}) }}" method="post" {{ form_enctype(form) }}>
{{ customer }}<br>
{{ form_widget(form) }}
<input type="submit" />
</div>
{% endblock %}