{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
       <link href="{{ asset('bundles/dimetimetrackerinvoice/css/ui.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block body %}
<div id="content">
<h2>Kundenkonfiguration</h2>
<form action="{{ path('DimeTimetrackerInvoiceBundle_config',{'customer_id': customer_id}) }}" method="post" {{ form_enctype(form) }}>
  {{ form_errors(form) }}
  {{ customer }}<br>
  {{ form_widget(form.address) }}
  {{ form_rest(form) }}<br/>
<input type="submit" value="Adresse ändern" />
</div>
{% endblock %}