{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
       <link href="{{ asset('bundles/dimetimetrackerinvoice/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
       <link href="{{ asset('bundles/dimetimetrackerinvoice/css/ui.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block javascripts %}
       <script src="{{ asset('bundles/dimetimetrackerinvoice/js/bootstrap.js') }}" type="text/javascript"></script>
{% endblock %}
{% block title %}Dime - Invoice: Zusätzliche Kundenkonfiguration (Adresse) {% endblock %}
{% block body %}
<h1>Rechnungsgenerator</h1>
<div id="content">
<h2>Kundenkonfiguration</h2>
<form action="{{ path('DimeTimetrackerInvoiceBundle_config',{'customer_id': customer_id}) }}" method="post" {{ form_enctype(form) }}>
  {{ form_errors(form) }}
  {{ customer }}<br>
  {{ form_widget(form.address) }}
  {{ form_rest(form) }}<br/>
    <button class="btn btn-primary" type="submit">Adresse ändern</button>
	<button class="btn" type="reset">Abbrechen</button>
</div>
{% endblock %}