{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
       <link href="{{ asset('bundles/dimetimetrackerinvoice/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
       <link href="{{ asset('bundles/dimetimetrackerinvoice/css/ui.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block javascripts %}
       <script src="{{ asset('bundles/dimetimetrackerinvoice/js/bootstrap.js') }}" type="text/javascript"></script>
{% block title %}Dime - Invoice: Kundenauswahl {% endblock %}
{% endblock %}{% block body %}
<h1>Rechnungsgenerator</h1>
<div id="content">
<h2>für Kunde:</h2>
<table>
	{% for customer in customers %}
	<tr>
	  <td>{{customer.name}}
	  {{customer.alias}}</td>
	  <td><a href="{{ path('DimeTimetrackerInvoiceBundle_activities',{'customer_id':customer.id})}}">Rechnung erzeugen</a></td>
	  <td><a href="{{ path('DimeTimetrackerInvoiceBundle_config',{'customer_id':customer.id})}}">Konfigurieren</a><br/></td>
	</tr>  
    {% endfor %}
</table>
</div>
<a href="{{ path('DimeTimetrackerInvoiceBundle_first')}}">Hinweis</a> 
 (vor der ersten Benutzung bitte lesen)
{% endblock %}