{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
       <link href="{{ asset('bundles/dimetimetrackerinvoice/css/ui.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block body %}
<div id="content">
<h2>Kunde auswählen:</h2>
<table>
	{% for customer in customers %}
	<tr>
	  <td>{{customer.name}}
	  {{customer.alias}}</td>
	  <td><a href="{{ path('DimeTimetrackerInvoiceBundle_activities',{'customer_id':customer.id})}}">Rechnung erzeugen</a></td>
	  <td><a href="{{ path('DimeTimetrackerInvoiceBundle_config',{'customer_id':customer.id})}}">Konfigurieren</a><br/></td>
	</tr>  
    {% endfor %}
</table>
</div>
{% endblock %}