<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Dime | TimeTracker</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% stylesheets '@DimeTimetrackerFrontendBundle/Resources/public/css/bootstrap.css' %}
      <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
   
    {% javascripts '@DimeTimetrackerFrontendBundle/Resources/public/js/modernizr-2.0.6.min.js' %}
      <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}


    <style type="text/css">
      /* Override some defaults */
      html, body {
        background-color: #eee;
      }
      body {
        padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
      }
      .container > footer p {
        text-align: center; /* center align it with the container */
      }
      .container {
        width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
      }

      /* The white background content wrapper */
      .container > .content {
        background-color: #fff;
        padding: 20px;
        margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
        -webkit-border-radius: 0 0 6px 6px;
           -moz-border-radius: 0 0 6px 6px;
                border-radius: 0 0 6px 6px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                box-shadow: 0 1px 2px rgba(0,0,0,.15);
      }

      /* Page header tweaks */
      .page-header {
        background-color: #f5f5f5;
        padding: 20px 20px 10px;
        margin: -20px -20px 20px;
      }

      /* Styles you shouldn't keep as they are for displaying this base example only */
      .content .span10,
      .content .span4 {
        min-height: 500px;
      }
      /* Give a quick and non-cross-browser friendly divider */
      .content .span4 {
        margin-left: 0;
        padding-left: 19px;
        border-left: 1px solid #eee;
      }

      .topbar .btn {
        border: 0;
      }

    </style>

    <!-- @TODO load images using assetic -->

    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">Dime</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#about">Blog</a></li>
            <li class="dropdown" data-dropdown="dropdown">
              <a href="#" class="dropdown-toggle">Help</a>
              <ul class="dropdown-menu">
                <li><a href="#">Tutorial</a></li>
                <li><a href="#">Documentation</a></li>
                <li class="divider"></li>
                <li><a href="#">Forum</a></li>
                <li><a href="#">IRC #dime</a></li>
                <li><a href="#">Twitter @dime</a></li>
              </ul>
            <li><a href="#about">API</a></li>
          </ul>
          <form action="" class="pull-right">
            <input class="input-small" type="text" placeholder="Username">
            <input class="input-small" type="password" placeholder="Password">
            <button class="btn" type="submit">Sign in</button>
          </form>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        <!--
        <div class="page-header">
          <h1>Dime <small>a Symfony2 timetracker bundle</small></h1>
        </div>
        -->
        <div class="row">
          <div class="span10" style=>
            <div class="alert-message warning">
              <a class="close" href="#">×</a>
              <p><strong>Holy guacamole!</strong> Best check yo self, you’re not looking too good.</p>
            </div>
            <form>
              <fieldset class="well">
                <div class="clearfix" style="margin-bottom: 0">
                  <div class="input"  style="margin: 0 20px 0 10px">
                    <input
                      id="magic-data-entry"
                      class="xlarge span7"
                      name="xlInput"
                      size="80"
                      type="text"
                      style="font-size: 24px;height: 32px"
                      placeholder=""
                      rel="popover"
                      data-original-title="Quick help"
                      data-content="Place sensible help here…">
                    <span class="btn large primary" style="padding: 11px; position: relative; top: -3px">Track</span>
                  </div>
                </div>
              </fieldset>
            </form>
            <p>{% block content %}{% endblock %}</p>
            <table class="zebra-striped" id="dataTable">
              <thead>
                <tr>
                  <th>Status</th>
                  <th>Customer: Project</th>
                  <th>Comment</th>
                  <th>Duration</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for activity in activities %}
                  <tr>
                    <td>
                      {% if activity.duration %}
                        <button class="btn success span3" data-toggle="toggle">Saved</button>
                      {% else %}
                        <button class="btn danger span3" data-toggle="toggle">Stop</button>
                      {% endif %}
                    </td>
                    <td><a href="#">{# activity.project.customer #}: {{ activity.project }}</a></td>
                    <td>{{ activity.description }}</td>
                    <td>
                      {% if activity.duration %}
                        {% set duration = activity.duration %}
                      {% else %}
                        {# FIXME #}
                        &ge; {# set duration = activity.currentDuration #}
                      {% endif %}
                      {% set duration = (duration//360)/10 %}
                      {{ duration }}
                    </td>
                    <td><a href="/api/services/{{ activity.id }}.json" class="data-edit" data-controls-modal="edit-modal" data-backdrop="static">Edit</a>
                      | <a href="/api/services/{{ activity.id }}.json" class="data-delete">Delete</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

            <div class="row">
              <div class="pagination offset2">
                <ul>
                  <li class="prev disabled"><a href="#">&larr; Previous</a></li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li class="next"><a href="#">Next &rarr;</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="span4">
            <h3>Data Filter</h3>
            <em>filter list goes here</em>

            <h4>by Tag</h4>
            <span class="label">Tag 1</span> <span class="label">Tag 2</span> <span class="label">Tag 3</span>
            <span class="label">Tag 4</span> <span class="label">Tag 5</span> <span class="label">Tag 6</span>

            <h4>by Project</h4>

            <h4>by Customer</h4>

            <h3>Saved Searches</h3>
            <em>saved searches go here</em>
          </div>
        </div>
      </div>

      <footer>
        <p>PHPUGL 2011 | Powered by Symfony2</p>

        <div id="edit-modal" class="modal hide fade" style="display: none; ">
            <div class="modal-header">
              <a href="#" class="close">×</a>
              <h3>Edit time slip …</h3>
            </div>
            <div class="modal-body">
              <p>Description goes here…</p>
            </div>
            <form>
              <fieldset class="well">
                <div class="clearfix" style="margin-bottom: 0">
                  <div class="input"  style="margin: 0 20px 0 10px">
                    <input class="xlarge span7" id="xlInput" name="xlInput" size="80" type="text" style="font-size: 24px;height: 32px" placeholder="">
                    <span class="btn large primary" style="padding: 11px; position: relative; top: -3px">Track</span>
                  </div>
                </div>
              </fieldset>
            </form>
            <div class="modal-footer">
              <a href="#" class="btn primary">Save</a>
              <a href="#" class="btn secondary">Cancel</a>
            </div>
          </div>
      </footer>

    </div> <!-- /container -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.0.min.js"><\/script>')</script>

    {% javascripts
      '@DimeTimetrackerFrontendBundle/Resources/public/js/bootstrap-dropdown.js'
      '@DimeTimetrackerFrontendBundle/Resources/public/js/bootstrap-buttons.js'
      '@DimeTimetrackerFrontendBundle/Resources/public/js/bootstrap-alerts.js'
      '@DimeTimetrackerFrontendBundle/Resources/public/js/bootstrap-modal.js'
      '@DimeTimetrackerFrontendBundle/Resources/public/js/bootstrap-twipsy.js'
      '@DimeTimetrackerFrontendBundle/Resources/public/js/bootstrap-popover.js'
      '@DimeTimetrackerFrontendBundle/Resources/public/js/jquery.tablesorter.min.js' %}
      <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
    $(document).ready(function() {
        $('nav').dropdown();

        $('table#dataTable').button();

        $('.alert-message').alert();

        $('.data-edit').modal();

        $('.client-project').twipsy({
                              live: true,
                              delayIn: 3000
                            });

        $('#magic-data-entry').popover({
                                offset: 10,
                                placement: 'below',
                                delayIn: 3000,
                                trigger: focus
                               });

        $('table#dataTable').tablesorter({ sortList: [[1,0]] });
    });
  </script>
  </body>
</html>
