<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Dime | TimeTracker</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/ruiantwitterbootstrap/css/bootstrapv2.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/dimetimetrackerfrontend/css/style.css') }}" />
   
    {% javascripts
        '@DimeTimetrackerFrontendBundle/Resources/public/js/lib/modernizr-2.0.6.min.js'
    %}
      <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <link href="{{ asset('bundles/dimetimetrackerfrontend/images/favicon.ico') }}" rel="shortcut icon">
    <link href="{{ asset('bundles/dimetimetrackerfrontend/images/apple-touch-icon.png') }}" rel="apple-touch-icon">
    <link href="{{ asset('bundles/dimetimetrackerfrontend/images/apple-touch-icon-72x72.png') }}" sizes="72x72" rel="apple-touch-icon">
    <link href="{{ asset('bundles/dimetimetrackerfrontend/images/apple-touch-icon-114x114.png') }}" sizes="114x114" rel="apple-touch-icon">
  </head>

  <body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="{{ path('dime_timetrackerfrontend_home_index') }}">Dime</a>
          <ul class="nav">
            <li><a href="{{ path('dime_timetrackerfrontend_activities_index') }}">Activities</a></li>
            <li><a href="{{ path('dime_timetrackerfrontend_customers_index') }}">Customers</a></li>
            <li><a href="{{ path('dime_timetrackerfrontend_projects_index') }}">Projects</a></li>
            <li><a href="{{ path('dime_timetrackerfrontend_services_index') }}">Services</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
          <div class="row">
              <div class="span9">
                  {% block content %}
                    <p>Block: Content</p>
                  {% endblock %}
              </div>
              <div class="span4">
                  {% block sidebar %}
                    <p>Block: Sidebar</p>
                  {% endblock %}
              </div>
          </div>
      </div>

      <footer>
        <p>PHPUGL 2011 | Powered by Symfony2</p>
      </footer>
    </div> <!-- /container -->

    {% javascripts
      '@DimeTimetrackerFrontendBundle/Resources/public/js/lib/json2.js'
      '@DimeTimetrackerFrontendBundle/Resources/public/js/lib/jquery.min.js'
      '@DimeTimetrackerFrontendBundle/Resources/public/js/lib/underscore-min.js'
      '@DimeTimetrackerFrontendBundle/Resources/public/js/lib/backbone-min.js'

      '@RuianTwitterBootstrapBundle/Resources/public/js/*'

      '@DimeTimetrackerFrontendBundle/Resources/public/js/plugins/*'

      '@DimeTimetrackerFrontendBundle/Resources/public/js/application.js'
      '@DimeTimetrackerFrontendBundle/Resources/public/js/model/*'
      '@DimeTimetrackerFrontendBundle/Resources/public/js/collection/*'
      '@DimeTimetrackerFrontendBundle/Resources/public/js/views/*'
    %}
      <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    
    {% block js %}
    {% endblock %}
  </body>
</html>
