<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Dime | TimeTracker</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{{ asset('bundles/dimetimetrackerfrontend/less/bootstrap.less') }}" rel="stylesheet/less" type="text/css" />
   
    {% javascripts
        '@DimeTimetrackerFrontendBundle/Resources/public/js/less-1.1.3.min.js' 
        '@DimeTimetrackerFrontendBundle/Resources/public/js/modernizr-2.0.6.min.js' 
    %}
      <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <link href="{{ asset('bundles/dimetimetrackerfrontend/images/favicon.ico') }}" rel="shortcut icon">
    <link href="{{ asset('bundles/dimetimetrackerfrontend/images/apple-touch-icon.png') }}" rel="apple-touch-icon">
    <link href="{{ asset('bundles/dimetimetrackerfrontend/images/apple-touch-icon-72x72.png') }}" sizes="72x72" rel="apple-touch-icon">
    <link href="{{ asset('bundles/dimetimetrackerfrontend/images/apple-touch-icon-114x114.png') }}" sizes="114x114" rel="apple-touch-icon">
  </head>

  <body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="{{ path('_welcome') }}">Dime</a>
          <ul class="nav">
            <li><a href="{{ path('_welcome') }}">Home</a></li>
            <li><a href="{{ path('dime_timetrackerfrontend_customer_index') }}">Customer</a></li>
            <li><a href="{{ path('dime_timetrackerfrontend_project_index') }}">Projects</a></li>
            <li><a href="{{ path('dime_timetrackerfrontend_service_index') }}">Services</a></li>
            <li class="dropdown" data-dropdown="dropdown">
              <a href="{{ path('dime_timetrackerfrontend_help_index') }}" class="dropdown-toggle">Help</a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('dime_timetrackerfrontend_tutorial_index') }}">Tutorial</a></li>
                <li><a href="{{ path('dime_timetrackerfrontend_documentation_index') }}">Documentation</a></li>
                <li><a href="{{ path('dime_timetrackerfrontend_api_index') }}">API</a></li>
              </ul>
            </li>
            <li><a href="#">Settings</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
          <div class="row">
              <div class="span10">
                  {% block content %}
                    <p>Block: Content</p>
                  {% endblock %}
              </div>
              <div class="span4">
                  {% block sidebar %}
                    <p>Block: Sidebar</p>
                  {% endblock %}
              </div>
          </div>
      </div>

      <footer>
        <p>PHPUGL 2011 | Powered by Symfony2</p>
      </footer>
    </div> <!-- /container -->

    {% javascripts
      '@DimeTimetrackerFrontendBundle/Resources/public/js/jquery-1.7.min.js'
      '@DimeTimetrackerFrontendBundle/Resources/public/js/bootstrap-dropdown.js'
      '@DimeTimetrackerFrontendBundle/Resources/public/js/bootstrap-buttons.js'
      '@DimeTimetrackerFrontendBundle/Resources/public/js/bootstrap-alerts.js'
      '@DimeTimetrackerFrontendBundle/Resources/public/js/bootstrap-modal.js'
      '@DimeTimetrackerFrontendBundle/Resources/public/js/bootstrap-twipsy.js'
      '@DimeTimetrackerFrontendBundle/Resources/public/js/bootstrap-popover.js'
      '@DimeTimetrackerFrontendBundle/Resources/public/js/jquery.tablesorter.min.js'
      '@DimeTimetrackerFrontendBundle/Resources/public/js/application.js' %}
      <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
  </body>
</html>
