{% extends "DimeTimetrackerFrontendBundle::layout.html.twig" %}

{% block content %}
<h1>Customer</h1>
<table class="zebra-striped" id="dataTable">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Rate</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for customer in customers %}
    <tr>
        <td>{{ customer.id }}</td>
        <td>{{ customer.name }}</td>
        <td>{{ customer.rate }}</td>
        <td>
        <a href="/api/customers/{{ customer.id }}.json" class="data-edit" data-controls-modal="edit-modal" data-backdrop="static">Edit</a>
         | <a href="/api/customers/{{ customer.id }}.json" class="data-delete">Delete</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block sidebar %}
<h2><a href="{# path('post_customers') #}">Add customer</a></h2>

<h2>Filter</h2>
TODO
{% endblock %}
